.topbanner {
	background: url("../images/food6.jpeg") no-repeat center;
	width: 100%;
	height: 100%;
	height: 400px;
	background-size: cover;
}


.extopbanner {
	background: url("../images/wveb3.jpg") no-repeat center;
	width: 100%;
	height: 100%;
	height: 600px;
	background-size: cover;
	box-shadow: 0 4px 2px -2px gray !important;
}

.creambackground {
	background: rgba(255, 250, 240);
}

.socialmediaimage {
	width: 40%;
}

.tealbg {
	background: url("../images/creampaper2.png")
}

.welcome {
	font-family: 'Raleway', sans-serif !important;
	font-size: 50px !important;
	font-weight: bold !important;
	letter-spacing: 2px !important;
	color: #442b65 !important;
	margin-top: 50px !important;
}

.topbanner h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	letter-spacing: 2px;
	color: #ffffff;
	padding-top: 50px;
}

.extopbanner h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	letter-spacing: 2px;
	color: #ffffff;
	padding-top: 50px;
}

.article-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: bold;
	max-width: 420px;
}

.cursive {
	color: #ffb701;
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 6px;
	font-family: 'Great Vibes', cursive;
}

.cursiveex {
	color: white;
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 6px;
	font-family: 'Great Vibes', cursive;
}

.centerbannertext {
	margin-top: 170px;
}

.topbarcolor {
	color: white;
}

#growbusiness {
	background: url("../images/exbg.png") repeat center;
	padding-top: 100px;
	padding-bottom: 100px;
}


#growbusiness img {
	width: 100%;
	border-radius: 20px;
}

#growbusiness2 {
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
}

#growbusiness2 img {
	width: 100%;
	border-radius: 20px;
}

#growbusiness h1 {
	font-size: 22px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
	line-height: 30px;
	color: #454867;
}

#read-article {
	margin-top: 95px;
}

.articlelink {
	background-color: #ffb701;
	border-radius: 0;
	color: #3E2C1F !important;
	font-size: 22px;
	padding: 12px 40px 12px 40px;
	border: 4px solid #ffb701;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.articlelink a {
	color: #3E2C1F !important;
}

.articlelink:hover,
.articlelink:focus,
.articlelink:active {
	background-color: #ffffff;
	border: 4px solid #ffb701;
	color: #ffb701;
	font-size: 22px;
	text-decoration: none !important;
}

#growbusiness a:hover {
	text-decoration: none !important;
}

#morecustomers {
	padding-top: 50px;
	padding-bottom: 20px;
}

#morecustomers h3 {
	color: #442b65 !important;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold !important;
	padding-bottom: 30px;
}

#morecustomers h2 {
	color: #442b65 !important;
	font-size: 22px;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold !important;
}

.textcolorpurple {
	color: #442b65 !important;
}

.packagesimages {
	width: 50%;
}

#morecustomers p {
	color: #454867;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}

.growsales {
	background: url("../images/food5.jpeg") no-repeat center;
	width: 100%;
	height: 100%;
	height: 420px;
}

.growsales2 {
	background: url("../images/wveb3.jpg") no-repeat center;
	width: 100%;
	height: 100%;
	height: 420px;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.growsales p {
	float: center;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	letter-spacing: 0;
	position: relative;
	right: -80px;
	top: 150px;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.growsales2 p {
	float: center;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	letter-spacing: 0;
	position: relative;
	right: -80px;
	top: 150px;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.testimonials {
	background: url("../images/testimonial-banner.jpg") no-repeat center;
	width: 100%;
	height: 100%;
	height: auto;
	background-size: cover;
	margin-top: -10px;
}

.testimonials h4 {
	color: #454867;
	font-size: 35px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 60px;
	font-weight: bold;
	padding-bottom: 20px;
}

.testimonials p {
	color: #383838;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 15px;
}

.client-review {
	color: #7f7f7f !important;
	font-weight: bold;
	padding-left: 10px;
	letter-spacing: 1px;
	margin-top: -10px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 60px;
}

.testimonials img {
	width: 30%;
}

.portfolio {
	padding-top: 80px;
	padding-bottom: 80px;
}

.portfolio h4 {
	color: #454867;
	font-size: 35px;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding-bottom: 30px;
}

.request-quote {
	background: url("../images/quotebg.png") no-repeat center;
}

.request-quote h4 {
	text-align: center;
	padding-top: 28px;
	color: black;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 0;
	font-family: 'Montserrat', sans-serif;
}

.social-links {
	background-color: #ededed;
	margin-top: -30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.exclusive-group {
	padding-left: 10px;
	padding-right: 10px;
}

.introhead {
	color: #d61c22 !important;
	font-weight: bold !important;
	font-size: 40px !important;
	letter-spacing: 6px !important;
	font-family: 'Great Vibes', cursive !important;
}

.introparagraph {
	padding: 20px !important;
	font-family: Verdana, sans-serif !important;
}

.introwelcome {
	color: black !important;
	font-weight: bold !important;
	font-size: 45px !important;
	letter-spacing: 6px !important;
	font-family: "Poppins", sans-serif !important;
}

.roundedimg {
	border-radius: 10px;
}

.bg1 {
	background-color: #222222;
}

.txt13 {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
}

.txt14 {
	color: white;
	margin-bottom: 15px;
	margin-top: 10px;
}

.m-b-70 {
	color: white !important;
	margin-bottom: 70px;
}

.m-b-33 {
	color: white !important;
	margin-bottom: 33px;
	margin-top: 30px;
}

/* unvisited link */
a:link {
	color: #454867;
}

/* mouse over link */
a:hover {
	color: orange !important;
}

.copymark {
	color: white !important;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 480px) {
	.topbanner {
		height: 500px;
	}

	.topbanner h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 40px;
		letter-spacing: 0px;
		color: #ffffff;
		line-height: 55px;
		padding-top: 20px;
	}

	.extopbanner {
		height: 500px;
	}

	.extopbanner h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 40px;
		letter-spacing: 0px;
		color: #ffffff;
		line-height: 55px;
		padding-top: 20px;
	}

	.cursive {
		color: #ffb701;
		font-weight: bold;
		font-size: 50px;
		letter-spacing: 5px;
		font-family: 'Great Vibes', cursive;
	}

	#read-article {
		margin-top: 30px;
	}

	.articlelink {
		padding: 12px 30px 12px 30px;
	}

	.testimonials img {
		width: 45% !important;
	}

	.portfolio img {
		padding-top: 40px;
	}

	.client2 {
		padding-top: 80px;
	}

	.growsales p {
		color: #ffffff;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		position: relative;
		left: 0px;
		top: 50px;
		width: 100%;
	}
}


@media only screen and (min-width: 480px) and (max-width: 1024px) {
	.topbanner {
		height: 450px;
	}

	.topbanner h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 45px;
		letter-spacing: 0px;
		color: #ffffff;
		line-height: 65px;
		padding-top: 20px;
	}

	.extopbanner {
		height: 450px;
	}

	.extopbanner h1 {
		font-family: 'Raleway', sans-serif;
		font-size: 45px;
		letter-spacing: 0px;
		color: #ffffff;
		line-height: 65px;
		padding-top: 20px;
	}

	.cursive {
		color: #ffb701;
		font-weight: bold;
		font-size: 65px;
		letter-spacing: 5px;
		font-family: 'Great Vibes', cursive;
	}

	#read-article {
		margin-top: 30px;
	}

	.testimonials img {
		max-width: 25%;
	}

	.growsales p {
		color: #ffffff;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 35px;
		position: relative;
		left: 0;
		top: 50px;
		width: 100%;
	}
}

/* iPads (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
	.topbanner h1 {
		padding-top: 0px;
	}

	.extopbanner h1 {
		padding-top: 0px;
	}

	#read-article {
		margin-top: 70px;
	}

	.growsales p {
		color: #ffffff;
		padding-right: 10px;
		font-family: 'Montserrat', sans-serif;
		position: relative;
		left: 20;
		top: 80px;
		width: 70%;
	}
}


@media only screen and (min-width: 480px) and (max-width :767px) {
	.portfolio img {
		padding-top: 40px;
		width: 70% !important;
	}
}